body {
  background: red;
}
.ext-nav {
  display: inline-block;
  position: relative;
}
.ext-nav--inner {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin-block-start: 2.4rem;
  margin-block-end: 1.2rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-end: 1.2rem;
  opacity: 0.6;
  color: var(--color);
  border: solid transparent;
  border-width: 0 0 0.2rem;
  transition: color var(--transition-parameters),
    opacity var(--transition-parameters);
}
.ext-nav:hover .ext-nav--inner {
  opacity: 1;
  cursor: pointer;
}
.ext-container {
  opacity: 0;
  cursor: default;
  visibility: hidden;
  position: absolute;
  background: var(--charcoal);
  width: 50vw;
  height: auto;
  transform: translate(-50%, 0);
  transition: all 0.2s ease-in-out;
  border-radius: 0 0 1rem 1rem;
}
.ext-container > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.genres-item {
  width: 12rem;
  height: 12rem;
}
.genres-item > a {
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background: var(--charcoal);
}
.genres-item .genres-item--img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: inherit;
  height: inherit;
  transition: scale 0.3s ease-in-out;
}
.genres-item--img:hover {
  scale: 1.2;
}

#selection_ext ul {
  flex-direction: column;
}
#selection_ext .ext-container {
  width: fit-content;
  transform: translate(0);
}
#selection_ext a {
  text-decoration: none;
  color: var(--color);
  opacity: 0.6;
}

#selection_ext a:hover {
  opacity: 1;
  cursor: pointer;
}

.ext-nav:hover {
  background: var(--charcoal);
}

.ext-nav:hover .ext-container {
  visibility: visible;
  opacity: 1;
}

.ext_toTop {
  --size: 5rem;
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 2rem;
  width: var(--size);
  height: var(--size);
  background: var(--charcoal);
  border-radius: 0.5rem;
}

.ext_hidden {
  display: none;
}
